/*-----------------------
General styles
-----------------------*/
@font-face {
font-family: 'Museo300'; /* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
src: url('/site_media/fonts/Museo300-Regular.eot');
src: local('Museo 300'), local('Museo-300'), url('/site_media/fonts/Museo300-Regular.woff') format('woff'), url('/site_media/fonts/Museo300-Regular.otf') format('opentype'), url('/site_media/fonts/Museo300-Regular.svg#Museo-300') format('svg');
}

@font-face {
font-family: 'Museo500'; /* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
src: url('/site_media/fonts/Museo500-Regular.eot');
src: local('Museo 500'), local('Museo-500'), url('/site_media/fonts/Museo500-Regular.woff') format('woff'), url('/site_media/fonts/Museo500-Regular.otf') format('opentype'), url('/site_media/fonts/Museo500-Regular.svg#Museo-500') format('svg');
}

@font-face {
font-family: 'Museo700'; /* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
src: url('/site_media/fonts/Museo700-Regular.eot');
src: local('Museo 700'), local('Museo-700'), url('/site_media/fonts/Museo700-Regular.woff') format('woff'), url('/site_media/fonts/Museo700-Regular.otf') format('opentype'), url('/site_media/fonts/Museo700-Regular.svg#Museo-700') format('svg');
}

body {
font: small "Helvetica Neue", helvetica, verdana, sans-serif;
background: #fff;
color: #333; 
padding: 0 0 6em;
}

* html body {
padding: 0;
}

a:link, a:visited {
color: #44c5f5;
}

.content {
font-size: 1em; /* override tripoli */
}

h2, 
h3,
h4,
h5,
h6 {
font-weight: normal;
color: #5c8699;
}

/*-----------------------
Utility Classes
-----------------------*/
.flash {
background: #edf2f5;
border: 1px solid #44c5f5;
margin: 1em 0;
padding: 20px 20px 20px 68px;
min-height: 20px;
background-position: 10px 50%;
background-repeat: no-repeat;
}

* html .flash { 
height: expression( this.scrollHeight <= 20 ? "20px" : "auto" ); /* sets min-height for IE */
}

#flash-message .info {
background-image: url(/site_media/img/flash-info.png);
}


#flash-message .confirm {
background-image: url(/site_media/img/flash-check.png);
}

#flash-message .error {
background-image: url(/site_media/img/flash-error.png);
border-color: #f35824;
}

.flash h2 {
font-size: 1.4em;
margin: 0 0 0.5em;
color: #333;
}

.errorlist {
color: #f35824;
text-transform: uppercase;
font-size: 0.7em;
}

/* self clearing float */
.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /*silly IE 7 */
}

.selfclear {
display: block;
}

* hmtl .selfclear {
height: 1px;
}

/* Alpha transparency for IE6 */
* html .pngfix {
zoom: 1;
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1 ?  (this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "/site_media/img/transparent.gif") : (this.origBg = this.origBg ? this.origBg :  this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='" + (this.currentStyle.backgroundRepeat=='no-repeat' ? 'crop' : 'scale') +"')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

.leftwise {
float:left;
}

.leftwise img {
margin: 10px 10px 10px 0;
}


.rightwise {
float:right;
}

.rightwise img {
margin: 10px 0 10px 10px;
}

.nobreak {
white-space: nowrap;
}

.noshow {
display:none !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
outline-width: 0; /* override tripoli */
}

/*-----------------------
Structural Elements
-----------------------*/
.wrap {
width: 940px; 
margin: 0 auto; 
text-align: left; /* silly IE 5.5 */
}

#header {
padding: 0.5em 0;
}

#header .wrap {
text-align: right;
}

#header-nav li,
#footer-nav li {
float: left;
margin: 0 1em 0 -0.5em;
}

* html #header-nav li,
* html #footer-nav li {
margin-left: -0.25em;
}

#header-nav a,
#footer-nav a {
color: #8ce1ff;
text-decoration: none;
padding: 0.2em 0.5em;
}

#header-nav a:hover,
#footer-nav a:hover {
text-decoration: underline;
}

#login {
color: #e7eff3;
}

#login a {
color: #ff8c66;
text-decoration: none;
margin: 0 0.3em;
}

#login .logstate {
text-transform: uppercase;
margin: 0 0 0 0.3em;
}

#login a:hover {
text-decoration: underline;
}

#logo {
width: 290px;
height: 100px;
float: left;
text-align: left;
overflow: hidden;
text-indent: -9999em;
background: url(/site_media/img/beta-logo.gif) no-repeat;
}

ul#nav {
float: left;
margin: 15px -10px 0 36px;
text-align: left;
}

* html ul#nav {
margin-left: 18px;
}

#nav li {
float: left;
margin: 0;
}

#nav li a {
display: block;
overflow: hidden;
text-indent: -9999em;
height: 50px;
}

#nav li a#add-rack {
width: 237px;
background-image: url(/site_media/img/add-rack-bg.png);
background-repeat: no-repeat;
}

#nav li a#verify-rack {
width: 194px;
background-image: url(/site_media/img/view-racks-bg.png);
background-repeat: no-repeat;
}

#nav li a#verification-kit {
width: 185px;
background-image: url(/site_media/img/tools-tips-bg.png);
background-repeat: no-repeat;
}

#nav li a:hover,
#nav li a.current {
background-position: 0 -50px;
}

#lede {
margin:  0 0 15px;
}

#lede h1 {
display: inline;
color: #333;
font-size: 1.75em;
font-weight: normal;
padding: 0 1em 0 0;
margin: 0;
}

#main {
background: url(/site_media/img/main-bg.png) 50% -2px no-repeat;
}

/* - */
#home-main {
width: 700px;
float: left;
margin: 0 20px 0 0;
}

#home-map {
height: 300px;
border: 1px solid #8fb9cc;
position: relative;
}

#map-legend {
position: absolute;
top: 10px;
left: 40px;
width: 478px;
height: 23px;
background: url(/site_media/img/map-legend-bg.png) no-repeat;
z-index: 5000;
}

#home-map #map-legend,
#verify-map #map-legend,
.iconsonly #map-legend {
width: 153px;
height: 23px;
background: url(/site_media/img/map-legend-iconsonly-bg.png) no-repeat;
}

.cityracks #map-legend {
background: url(/site_media/img/map-legend-cityracks-bg.png) no-repeat;
}

#home-callouts {
list-style-type: none;
margin: 0;
padding: 0;
}

#home-callouts li {
margin: 0;
padding: 0;
width: 220px;
float: left;
}

#home-callouts li#spot-it,
#home-callouts li#map-it {
margin: 0 20px 0 0;
}

#home-callouts li#spot-it h3 a,
#home-callouts li#map-it h3 a,
#home-callouts li#check-it h3 a  {
display: block;
height: 148px;
overflow: hidden;
text-indent: -9999em;
}

#home-callouts li#spot-it h3 a {
background: url(/site_media/img/spot-it-bg.png) no-repeat;
}

#home-callouts li#map-it h3 a {
background: url(/site_media/img/map-it-bg.png) no-repeat;
}

#home-callouts li#check-it h3 a {
background: url(/site_media/img/check-it-bg.png) no-repeat;
}

#learnmore-foot {
display: block;
height: 50px;
overflow: hidden;
text-indent: -9999em;
background: url(/site_media/img/learnmore-foot-bg.png) no-repeat;
}

#home-sidebar {
float: left;
width: 220px;
}

#home-sidebar h2 {
color: #7997a9;
background: #edf2f6;
font-weight: bold;
font-size: 1.1em;
padding: 8px;
}

#home-sidebar .home-list {
list-style-type: none;
margin: 0;
padding: 0;
}

#home-sidebar .home-list li {
display: inline;
margin: 0;
padding: 0;
}

#home-sidebar .home-list li a {
display: block;
color: #7896a8;
text-decoration: none;
padding: 0.5em 5px;
border-bottom: 1px solid #edf2f5;
margin: 0 -5px;
}

#home-sidebar #recent-racks li.selected a,
#home-sidebar #recent-racks li a:hover,
#home-sidebar .home-list li a:hover {
background: #f2f3ed;
}

#home-sidebar .home-list li a strong {
color: #57bbf1;
}

#home-sidebar .home-list li:last-child a {
text-align: right;
color: #57bbf1;
border-bottom: 0 none transparent;
}

#home-sidebar .home-list li:last-child a:hover {
text-decoration: underline;
}

#home-sidebar .latest-posts-heading {
margin-top: 0;
}

#home-sidebar .sidebar-callouts {
list-style-type: none;
margin: 0;
padding: 0;
}

#home-sidebar .sidebar-callouts li {
display: inline;
margin: 0;
padding: 0;
}

#home-sidebar .sidebar-callouts li a {
display: block;
color: #7896a8;
text-decoration: none;
padding: 0.5em 5px 0.5em 50px;
border-bottom: 1px solid #edf2f5;
margin: 0 -5px;
background-position: 5px 50%;
background-repeat: no-repeat;
}

#home-sidebar .sidebar-callouts li a.twitter-callout {
background-image: url(/site_media/img/twitter-icon.png);
}

#home-sidebar .sidebar-callouts li a.email-callout {
background-image: url(/site_media/img/letter-icon.png);
}

#home-sidebar .sidebar-callouts li a.scf-callout {
background-image: url(/site_media/img/seeclickfix-icon.png);
background-position: 50px 100%;
padding-bottom: 50px;
}

/* - */
#racks {
float: left;
width: 380px;
margin: 0 20px 0 0;
}

#racklist {
margin: 0;
padding: 0;
list-style-type: none;
}

#racklist li {
margin: 0 -10px;
padding: 1.5em 15px 1em;
border-bottom: 1px solid #edf2f5;
}

#racklist li:first-child {
padding: 1em 15px 1em;
}

#racklist li.selected {
background: #f2f3ed;
}

#racklist li .rack-thumbnail {
float: left;
}

#racklist li.new .rack-thumbnail {
padding: 0 0 12px 0;
background: url(/site_media/img/new-flag.png) 50% 100% no-repeat;
}

#racklist li.damaged .rack-thumbnail {
padding: 0 0 12px 0;
background: url(/site_media/img/damaged-flag.png) 50% 100% no-repeat;
}

#racklist li .rack-thumbnail img {
width: 60px;
float: left;
}

#racklist .rack-info {
margin: 0 0 0 80px;
color: #4d4d4d;
}

#racklist .rack-info h3 {
font-size: 1.16em;
font-weight: bold;
color: #00b0f1;
margin: 0;
display: inline;
line-height: 130%;
}

#racklist .rack-info h4 {
font-size: 1em;
color: #333;
margin: -0.5em 0 0;
}

#racklist .rack-meta {
color: #bababa;
text-transform: uppercase;
font-size: 0.7em;
}

#racklist .rack-info p {
margin: 0;
font-size: 0.95em;
}

#racklist .rack-icons {
}

#racklist .edit {
float: right;
text-decoration: none;
text-transform: uppercase;
padding: 5px 20px 5px 0;
background: url(/site_media/img/edit-icon.png) 100% 50% no-repeat;
}

#racklist .edit:hover {
text-decoration: underline;
}


#racklist .rack-comments, #racklist .rack-likes {
float: left;
padding: 5px 5px 5px 20px;
margin: 0 5px 0 0;
font-weight: bold;
color: #333;
text-decoration: none;
}

#racklist a.rack-comments:hover, #racklist a.rack-likes:hover {
text-decoration: underline;
}

#racklist .rack-comments {
background: url(/site_media/img/comment-icon.png) 0 50% no-repeat;
}

#racklist .rack-comments-active {
background: url(/site_media/img/comment-icon-add.png) 0 50% no-repeat;
}

#racklist .rack-likes {
background: url(/site_media/img/like-icon-inactive.png) 0 50% no-repeat;
}

#racklist .rack-likes-active {
background: url(/site_media/img/like-icon-active.png) 0 50% no-repeat;
}

#racklist .rack-verified {
float: left;
padding: 5px 0;
width: 16px;
height: 16px;
text-indent: -9999em;
overflow: hidden;
background: url(/site_media/img/tick.png) 0 5px no-repeat;
}

/* - */

#verify-map-wrap {
float: left;
width: 540px;
}

#bulk-map-wrap {
float: left;
width: 540px;
margin: 0 0 0 20px;
}

#verify-map {
height: 420px;
border: 1px solid #8fb9cc;
position: relative;
}

/* - */
#sublede {
padding: 0 0 5px;
}

#sublede .rack-address {
font-size: 1.4em;
display: inline;
padding: 0 1em 0 0;
margin: 0;
}

#sublede .edit {
padding: 5px 0 5px 20px;
background: url(/site_media/img/edit-icon.png) 0 50% no-repeat;
}

#sublede .rack-meta {
float: right;
}

#sublede .rack-meta .verified {
padding: 5px 10px 5px 20px;
background: url(/site_media/img/tick.png) 0 50% no-repeat;
}

#sublede .rack-meta .comments,
#sublede .rack-meta .rack-likes,
#sublede .rack-meta .rack-likes-active {
padding: 5px 20px 5px 0;
color: #333;
text-decoration: none;
}

#sublede .rack-meta a.comments:hover,
#sublede .rack-meta a.rack-likes:hover,
#sublede .rack-meta a.rack-likes-active:hover {
text-decoration: underline;
}

#sublede .rack-meta .comments strong,
#sublede .rack-meta .rack-likes strong,
#sublede .rack-meta .rack-likes-active strong {
color: #44c5f5;
}


#sublede .rack-meta .comments {
background: url(/site_media/img/comment-icon.png) 100% 50% no-repeat;
margin: 0 10px 0 0;
}

#sublede .rack-meta .comments-active {
background: url(/site_media/img/comment-icon-add.png) 100% 50% no-repeat;
}

#sublede .rack-meta .rack-likes {
background: url(/site_media/img/like-icon-inactive.png) 100% 50% no-repeat;
}

#sublede .rack-meta .rack-likes-active {
background: url(/site_media/img/like-icon-active.png) 100% 50% no-repeat;
}

#rackinfo .rack-title {

}


/* - */

#content form,
#content #rackinfo,
#content .formwrap {
width: 380px;
overflow: hidden;
float: left;
}

#content .formwrap {
margin: 0 20px 0 0;
}

#content .formwrap form {
float: none;
}

#content form label,
#content #rackinfo dt,
#content .fake-label {
display: block;
font-size: 1.2em;
font-weight: bold;
margin: 1em 0 0;
padding: 0;
color: #333;
}

#content form>label:first-child,
#content #rackinfo dl>dt:first-child {
margin: 0;
}

#content form label.first-child,
#content #rackinfo dt.first-child {
margin: 0;
}

#content form label img {
vertical-align: middle;
margin: 0 0 0 0.5em;
}

#content form input[type="text"],
#content form input[type="password"],
#content form textarea {
background: #fff;
display: block;
width: 362px;
border: 1px solid #5c8699;
padding: 8px;
font-family: "Helvetica Neue", helvetica, verdana, sans-serif;
}

#content form input.text,
#content form input.password,
#content form textarea {
background: #fff;
display: block;
width: 362px;
border: 1px solid #5c8699;
padding: 8px;
font-family: "Helvetica Neue", helvetica, verdana, sans-serif;
}

#content form input.required {
background: url(/site_media/img/required-bg.png) 100% 50% no-repeat;
}

#content form input[type="button"],
#content form input[type="submit"],
.fakebutton {
background: #f6f9fa;
border: 1px solid #8fb9cc;
border-bottom: 2px solid #5c8699;
color: #317099;
padding: 0.5em;
font-family: "Museo500", "Helvetica Neue", helvetica, verdana, sans-serif;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#content form input.button,
#content form input.submit,
.fakebutton {
background: #f6f9fa;
border: 1px solid #8fb9cc;
border-bottom: 2px solid #5c8699;
color: #317099;
padding: 0.5em;
font-family: "Museo500", "Helvetica Neue", helvetica, verdana, sans-serif;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#content a.fakebigbutton {
font-size: 1.2em;
display: block;
background: #f6f9fa;
border: 1px solid #8fb9cc;
border-bottom: 2px solid #5c8699;
color: #317099;
padding: 0.5em;
text-align: center;
text-decoration: none;
font-family: "Museo500", "Helvetica Neue", helvetica, verdana, sans-serif;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#content #upload-documents input[type="submit"],
#content #upload-documents input.submit,
#content #bulk-submit input[type="submit"],
#content #bulk-submit input.submit {
margin: 1em 0 0;
}

#content #bulk-order-submit-to-dot input[type="submit"],
#content #bulk-order-submit-to-dot input.submit {
background: #57bbf1;
color: #fff;
border-color: #57bbf1;
}



#content form #title {
font-size: 0.95em;
}

#content #rackinfo dd {
color: #5c8699;
}

.overlabel {
color: #5c8699;
}

span.expandonce {
display: block;
padding: 0 0 0 20px;
margin: 1em 0 0;
background: url(/site_media/img/plus-toggle.png) 0 50% no-repeat;
font-size: 1.2em;
font-weight: bold;
color: #00b0f1;
}

span.expandonce:hover {
cursor: pointer;
text-decoration: underline;
}

small.optional {
color: #999;
font-weight: normal;
}

small.required {
color: #e95623;
}

#photo-wrap {
margin: 1em 0 0;
padding: 0;
}

#statement-wrap {
margin: 0;
padding: 0;
}

#browse,
#statement,
#id_attachment_file {
opacity: 0.0;
-moz-opacity: 0.0;
filter: alpha(opacity=00);
width: 100%;
display: block;
height: 1.5em;
font-size: 2.5em;
padding: 0;
}

#fakebrowse,
#fakestatement {
margin-top: -3.5em;
padding: 0;
}

#fakebrowse #fakebrowseinput,
#fakestatement #fakestatementinput {
width: 290px;
float: left;
margin: 0 5px 0 0;
height: 1.2em;
}

#fakebrowse .fakebutton,
#fakestatement .fakebutton {
float: left;
padding: 0.44em 0.5em;
}

#content h2.toggler {
font-size: 1em;
color: #317199;
margin-bottom: -1em;
text-transform: uppercase;
font-weight: bold;
padding: 0 0 0 15px;
background: url(/site_media/img/section-collapsed-bg.png) 0 50% no-repeat;
margin-bottom: 1em;
cursor: pointer;
}

#content h2.expanded {
background: url(/site_media/img/section-expanded-bg.png) 0 50% no-repeat;
cursor: default;
}

#content .section {
padding: 0;
}

#content form.expandable .section {
display: none;
}

#content .section .helptext {
font-size: 0.9em;
color: #5d8699;
padding: 0;
}

#content .section fieldset.verification {
padding: 0;
margin: 0 0 1em;
border: 0 none transparent;
}

#content .section fieldset.verification div {
padding: 0 0 0.5em 1.5em;
}

#content .section fieldset.verification input {
float: left;
margin: 0.3em 0 0 -1.5em;
}

* html #content .section fieldset.verification input {
margin: 0.3em 0 0 -0.75em;
}

#content .section fieldset.verification label {
display: inline;
font-size: 1em;
font-weight: normal;
}

#content .section fieldset.verification h3 {
font-weight: bold;
font-size: 1.2em;
margin: 0;
}

#content .section fieldset.verification h3.restrictive-clearance {
color: #c8001f;
}

#content .section fieldset.verification h3.moderate-clearance {
color: #ff7800;
}

#content .section fieldset.verification h3.permissive-clearance {
color: #00af33;
}

#content .section fieldset.verification ul {
margin-bottom: 0;
}

/* - */
#content #filter-form {
float: none;
width: auto;
}

#filter-form fieldset {
border-color: #8fb9cc;
margin: 0;
padding: 1em;
}

#content #filter-form label {
display: inline;
font-weight: normal;
margin: 0 0.5em 0 0;
padding: 0 0.5em;
}

#filter-form select {
margin: 0 1em 0 0;
border: 1px solid #5c8699;
}

/* - */
#support-statements {
margin: 0;
padding: 0;
}

#support-statements li {
margin: 0 0 0.75em;
padding: 0 0 0 22px;
background: url(/site_media/img/pdf-icon.png) 0 50% no-repeat;
}

#support-statements li a {
color: #5c8699;
text-decoration: none;
}

#support-statements li a:hover {
text-decoration: underline;
}

.suggest {
float: left;
width: 540px;
margin: 0 0 0 20px;
}

* html .suggest {
margin-left: 10px;
}

#request-map,
#view-map {
height: 360px;
border: 1px solid #8fb9cc;
position: relative;
}

#quick-check {
background: #edf2f5;
border: 1px solid #8fb9cc;
margin: 20px 0 0;
padding: 10px;
}

#quick-check h4 {
margin: 0 0 0.5em;
font-size: 1.4em;
padding: 15px 0 15px 40px;
background: url(/site_media/img/quick-check-clipboard.png) 0 50% no-repeat;
color: #333;
}

#quick-check h5  {
margin: 0 0 0.5em;
padding: 0 0 0 40px;
font-weight: bold;
}

#quick-check h5 a {
text-transform: uppercase;
text-decoration: none;
}

#quick-check h5 a:hover {
text-decoration: underline;
}

#quick-check ul {
margin: 0 0 1em;
}

#quick-check ul li {
list-style-type: none;
padding: 5px 0 5px 40px;
}

#quick-check ul li strong {
text-transform: uppercase;
font-size: 1.2em;
}

#quick-check ul li.surface strong{
color: #00af33;
}

#quick-check ul li.objects strong{
color: #ff7800;
}

#quick-check ul li.access strong{
color: #c8001f;
}

#quick-check p {
padding: 0 0 0 40px;
margin: 0;
}

#quick-sort {
padding: 0 0 1em;
margin: 0 0 1em;
border-bottom: 1px solid #a1b8b5;
}

#quick-sort form {
float: none;
width: auto;
margin: 0;
}

#quick-sort form label {
float: left;
font-size: 1em;
font-weight: normal;
width: 10em;
text-align: right;
padding: 0 1em 0 0;
}

#quick-sort #print-list {
margin: 0 0 0 9.2em;
width: 10em;
}

/* - */
#comments-list {
margin: 0;
padding: 0;
list-style-type: none;
border-bottom: 1px solid #5c8699;
}

.comment {
border-top: 1px solid #5c8699;
margin: 0;
padding: 0.75em 0;
}

#comments-list .comment-author {
margin: 0;
color: #333;
font-size: 1.2em;
}

#comments-list .comment-date {
font-size: 0.9em;
}

#add-comment {
margin-top: 0;
padding-top: 0.535em;
}

#recaptcha_widget_div div {
padding: 0;
}

#id_comment {
margin: 0 0 1em;
}

/* - */
#bigmovie {
width: 620px;
height: 345px;
background: #000;
}

#moviecontent {
width: 620px;
float: left;
margin: 0 23px 0 0;
}

#movietext {
float: left;
width: 297px;
}

#movietext h2 {
margin-top: 0;
color: #333;
}

#movietext ol li {
color: #44c5f5;
}

#movietext ol li div {
color: #333;
}

#movietext ol li ul {
list-style-type: none;
margin: 0 0 0 0.5em;
}

.threewide .col {
width: 200px;
float: left;
margin: 0 10px 0 0;
font-size: 0.9em;
}

.threewide>.col:last-child {
margin: 0;
}

.threewide .last-child {
margin: 0;
}

.threewide h2 {
border-bottom: 1px solid #8fb9cc;	
margin-top: 0.5em;
}

.threewide h3 {
margin-top: 0;
}

.threewide .highlight {
color: #44c5f5;
}

/* - */
.doublewide .col {
width: 455px;
float: left;
margin: 0 20px 0 0;
}

.doublewide>.col:last-child {
margin: 0;
}

.doublewide .last-child {
margin: 0;
}

h2.restrictive-clearance,
h2.moderate-clearance,
h2.permissive-clearance {
font-size: 1.1em;
}

h2.restrictive-clearance strong,
h2.moderate-clearance strong,
h2.permissive-clearance strong {
padding: 0.2em 0.3em 0.2em 0.2em;
}

h2.restrictive-clearance em,
h2.moderate-clearance em,
h2.permissive-clearance em {
font-style: normal;
padding: 0 0.2em;
}

h2.restrictive-clearance {
color: #c8001f;
}

h2.restrictive-clearance strong {
background: #c8001f;
color: #fff;
}

h2.restrictive-clearance em {
background: #fff;
color: #c8001f;
}

dl.restrictive-clearance dt {
float: left;
color: #c8001f;
margin: 0 0.5em 0 0;
}

h2.moderate-clearance {
color: #ff7800;
}

h2.moderate-clearance strong {
background: #ff7800;
color: #fff;
}

h2.moderate-clearance em {
background: #fff;
color: #ff7800;
}

h2.permissive-clearance {
color: #00af33;
}

h2.permissive-clearance strong {
background: #00af33;
color: #fff;
}

h2.permissive-clearance em {
background: #fff;
color: #00af33;
}

ul.permissive-clearance {
color: #00af33;
}

ul.permissive-clearance li span {
color: #333;
}

/* - */
#pagination {
text-align: center;
margin: 1em 0;
}

#pagination a {
text-decoration: none;
}

#pagination .prevlink {
float: left;
}

#pagination .nextlink {
float: right;
}

#pagination .prevlink:hover,
#pagination .nextlink:hover {
text-decoration: underline;
}

#pagination .sectionlink a,
#pagination span.sectionlink a:hover {
border: 1px solid #44c5f5;
margin: 0 0.2em;
padding: 0.2em 0.3em;
background: #44c5f5;
color: #fff;
}

#pagination .sectionlink a:link {
background: #fff;
color: #44c5f5;	
}

/* - */
.user-callouts {
float: left;
margin: 0 0 0 70px;
width: 490px;
font-size: 1.2em;
}

* html .user-callouts {
margin-left: 35px;
}

.user-callouts h2 {
font-size: 1.2em;
margin: 0 0 0.5em;
}

/* OpenLayers styles */
#OpenLayers\.Control\.PanZoom_5_zoomworld,
#OpenLayers\.Control\.PanZoom_5_panup,
#OpenLayers\.Control\.PanZoom_5_panright,
#OpenLayers\.Control\.PanZoom_5_pandown,
#OpenLayers\.Control\.PanZoom_5_panleft,
#OpenLayers\.Control\.PanZoom_4_zoomworld,
#OpenLayers\.Control\.PanZoom_4_panup,
#OpenLayers\.Control\.PanZoom_4_panright,
#OpenLayers\.Control\.PanZoom_4_pandown,
#OpenLayers\.Control\.PanZoom_4_panleft { /* not sure why edit map uses "4" instead of "5" */
display: none !important; 
}

#OpenLayers\.Control\.PanZoom_5_zoomin,
#OpenLayers\.Control\.PanZoom_4_zoomin {
background: url(/site_media/img/custom-zoom.png) no-repeat !important;
height: 23px !important;
width: 23px !important;
top: 5px !important;
left: 5px !important;
cursor: pointer;
}

#OpenLayers\.Control\.PanZoom_5_zoomout,
#OpenLayers\.Control\.PanZoom_4_zoomout {
background: url(/site_media/img/custom-zoom.png) 0 -24px no-repeat !important;
height: 22px !important;
width: 23px !important;
top: 28px !important;
left: 5px !important;
cursor: pointer;
}

#OpenLayers\.Control\.PanZoom_5_zoomin:hover,
#OpenLayers\.Control\.PanZoom_4_zoomin:hover {
background-position: -23px 0 !important;
}

#OpenLayers\.Control\.PanZoom_5_zoomout:hover,
#OpenLayers\.Control\.PanZoom_4_zoomout:hover {
background-position: -23px -24px !important;
}

#OpenLayers\.Control\.PanZoom_5_zoomin img,
#OpenLayers\.Control\.PanZoom_5_zoomout img,
#OpenLayers\.Control\.PanZoom_4_zoomin img,
#OpenLayers\.Control\.PanZoom_4_zoomout img {
display: none;	
}


#map-wrap {
position:relative;
}

#feature {
position: absolute;
z-index: 100000;
} 

.gquery-wrap {
background: transparent url(/site_media/img/map-popup-bg.png) no-repeat;
width: 292px;
height: 78px;
padding: 3px 15px 3px 3px;
position: relative;
left: -310px;
top: -19px;
}

.gquery-popup {
overflow: auto;
height: 78px;
width: 292px;
font-size: 0.9em;
}

.gquery-close {
float: right; 
background: transparent url(/site_media/img/close.gif) no-repeat scroll 0 0;
width: 12px;
height: 12px;
cursor: pointer;
overflow: hidden;
text-indent: -9999em;
}

.gquery-popup img {
width: 50px;
float: left;
}

.gquery-popup h3 {
color: #00b0f1;
margin: 0 0 0.2em 55px;
font-size: 1.1em;
line-height:130%;
}

.gquery-popup h4 {
color: #e69900;
font-size: 1em;
margin: 0 0 0.1em 55px;
line-height:130%;
}

.gquery-popup h5 {
color: #a5c665;
padding: 2px 0 2px 19px;
text-transform: uppercase;
background: url(/site_media/img/tick.png) 0 50% no-repeat;
font-size: 1em;
margin: 0 0 0 55px;
}

.gquery-popup h5 em {
font-style: normal;
font-size: 0.7em;
}


/* - */
#footer {
background: #5c8699;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 1em 0;
}

* html #footer {
position: static;
}

*+html #footer {

}

#footer .wrap {
margin: 0 auto;
position: relative;
}

#footer-callout {
background: #fff;
position: absolute;
right: 0;
top: -1.5em;
width: 316px;
padding: 10px;
border: 1px solid #8fb9cc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#footer-callout strong.leftwise {
float: left;
color: #5c8699;
font-size: 14px;
font-weight: normal;
padding: 8px 0 0;
margin: 0 5px 0 0;
}

#footer-callout a.email-callout {
float: left;
width: 32px;
height: 30px;
background: url(/site_media/img/footer-letter-icon.png) no-repeat;
overflow: hidden;
text-indent: -9999em;
margin: 0 5px 0 0;
}

#footer-callout a.twitter-callout {
float: left;
width: 37px;
height: 30px;
background: url(/site_media/img/footer-twitter-icon.png) no-repeat;
overflow: hidden;
text-indent: -9999em;
margin: 0 5px 0 0;
}

#footer-callout a.scf-callout {
float: left;
width: 79px;
height: 30px;
background: url(/site_media/img/footer-seeclickfix-icon.png) no-repeat;
overflow: hidden;
text-indent: -9999em;
}
