{% extends "base.html" %}
{% block title %} fixcity. :: Register {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>Register</h1>{% endblock %}

{% block content %}
<form action="/accounts/register/" method="POST">
  <label for="username">Username</label>
  <div class="required"><input type="text" title="Username can only consist of letters and numbers" name="username" id="username" /></div>
  {{ form.username.errors }}
  <label for="email">Email</label>
  <div class="required"><input type="text" name="email" value="{{request.REQUEST.email}}" /></div>
  {{ form.email.errors }}
  <label for="password1">Password</label>
  <div class="required"><input type="password" name="password1" id="password1" /></div> 
  {{ form.password1.errors }}
  <label for="password2">Password (again)</label>
  <div class="required"><input type="password" name="password2" id="password2" /></div>
  {{ form.password2.errors }}
  {{ form.non_field_errors }}
  <input class="standalone" type="submit" value="Register" />
  <p><a href="/contact">Contact us</a> if you want to get involved with managing your community's bulk order.</p>
</form>
<div class="user-callouts">
  <h2>Register and you will have:</h2>
  <ul>
    <li>Ability to update your suggestions and others.</li>
    <li>Easy access to a list of racks you've suggested.</li>
    <li>Access to fun and useful features in the future!</li>
  </ul>
</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($) {
    $('input#username').inlineInfoTextify();
});
//]]>
</script>
{% endblock %}
