{% extends "base.html" %}
{% block title %} FixCity: Submit Bulk Order {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js?refresh={{ refresh_token }}">
</script>

{% endblock %}


{% block content %}
{% load attachments_tags %}
<div class="formwrap">
<h2>Package {{cb}} Racks</h2>

<p>
  Once you submit an order, the racks will be uneditable.  Other users
  will be able to create additional bulk orders in the same community
  board but they will not include racks previously submitted. This
  form will be sent to City Racks at the NYCDOT for processing. The
  NYCDOT rack placement cycle may take up to six months.
</p>

{% ifequal bulk_order.status "pending" %}
 <p>status:  pending.</p>
{% else %}
 
 <form action="." method="POST" id="bulk-submit">
   <div class="fake-label">Community Board: <strong>{{cb}}</strong></div>
   <label for="name">Your Name</label>
   <input id="name" name="name" class="required" type="text" value="{{request.user.name}}" />
   <label for="email">Your Email</label>
   <input id="email" name="email" class="required" type="text" value="{{request.user.email}}" />
   <label for="organization">Organization</label>
   <input id="organization" name="organization" class="required" type="text" value="{{bulk_order.organization}}" />
   <div class="fake-label">To: <strong>City Racks NYCDOT</strong></div>
   <label for="message">Message</label>
   <textarea name="message"></textarea>
  <input type="hidden" name="next_state" value="pending" />
  <input type="submit" value="Send this Bulk Order to DOT" />
 </form>
{% endifequal %}

<div class="attachments">
  {% get_attachments_for bulk_order as "bo_attachments" %}
  {% if bo_attachments %}
    <strong>Documents attached to this request:</strong>
    <ul>
    {% for attachment in bo_attachments %}
     <li>
        <a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
        {% attachment_delete_link attachment %}
     </li>
    {% endfor %}
    </ul>
  {% else %}
    No attachments.
  {% endif %}


</div>
</div><!-- /.formwrap -->
<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
  <div>
   <a href="../order.csv/">Download bulk order as a CSV</a>
   <br/>
   <a href="../order.pdf/">Download bulk order as a PDF</a>
   <br />
   <a href="../order.zip/">Download a zip of all supporting documents</a>

  </div>
</div>

{% endblock %}


{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[

  // Override the params function to hardcode cb & borough

  var getParamsFn = function() {
    return {
     verified: 'all',
    boro: {{ cb.borough.gid }},
    cb: {{ cb.gid }}
    };
  };

  jQuery(document).ready(function($) {
    updateMapFn();
  });
//]]>
</script>
{% endblock %}
