{% extends "base.html" %}
{% block title %} FixCity: Create a Bulk Order {% endblock %}

{% block extra_header %}
<script type="text/javascript">
//<![CDATA[
  var update_cbs = function( objEvent ) {
    var borocode = $("#borough_select option:selected").val().toString();
    $.getJSON("/cbs/" + borocode + "/",
      function(data) {
	// Clear out the old options.
        while ($('#cb_select option').length > 1) {
          $('#cb_select option:last').remove();
        }
        for (i = 0; i < data.length; i++) {
          $('#cb_select').append("<option value='" + data[i][1] +"'>" + data[i][0] + "</option>");
        };
    });
  };
//]]>
</script>
{% endblock %}

{% block content %}
<form id="bulk-order-create-form" action="." method="POST">

  <h2>Create a Bulk Order</h2>

  <label for="organization">Organization</label>
  <div class="required"><input type="text" name="organization" />
  {{ form.organization.errors }}
  </div>

  <label for="communityboard">Community Board</label>
  <div class="required">
    <select id="borough_select" name="borough_gid">
      <option value="">Borough</option>
      <option value="1">Manhattan</option>
      <option value="2">The Bronx</option>
      <option value="4">Brooklyn</option>
      <option value="5">Queens</option>
      <option value="3">Staten Island</option>
    </select>
    <select id="cb_select" name="cb_gid">
      <option value="">Community Board</option>
    </select>
    {{ form.communityboard.errors }}
  </div>

  <label for="rationale">Describe why you would like a bulk request</label>
  <div class="required"><textarea name="rationale"></textarea>
   {{ form.rationale.errors }}
  </div>

  <input type="submit" value="submit" />

<!--  errors for debugging
 {{ form.errors }}
-->
</form>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  jQuery(document).ready(function($) {
    $('#borough_select').change(update_cbs);
  });
//]]>
</script>
{% endblock %}

