{% extends "base.html" %}
{% block title %} FixCity: Approve Bulk Order {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js?refresh={{ refresh_token }}">
</script>

{% endblock %}


{% block content %}
{% load attachments_tags %}

  <h2>Approve {{cb}} Bulk Order</h2>


<dl>
 <dt>Approved:</dt><dd> {{ bulk_order.approved|yesno}}</dd>
 <dt>User: </dt>
 <dd> <b>{{bulk_order.user.username}}</b> will be approved to submit
  this order and future orders.</dd>

 <dt>Organization:</dt><dd> {{bulk_order.organization}}</dd>
 <dt>Date:</dt><dd> {{bulk_order.date}}</dd>
 <dt>Community Board:</dt><dd>{{bulk_order.communityboard}}</dd>
 <dt>Number of Racks:</dt><dd>{{bulk_order.racks|length}}</dd>
 <dt>Reason for request:</dt> <dd> {{bulk_order.rationale}}</dd>
</dl>
<div class="attachments">
  {% get_attachments_for bulk_order as "bo_attachments" %}

    <ul>
    {% for attachment in bo_attachments %}
     <li>
        <a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
        {% attachment_delete_link attachment %}
     </li>
    {% endfor %}
    </ul>



</div>

<form id="bulk-order-approve-form" action="." method="POST"
<input type="submit" value="SUBMIT" />
</form>

<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
</div>


{% endblock %}


{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[

  // Override the params function to hardcode cb & borough

  var getParamsFn = function() {
    return {
     verified: 'all',
    boro: {{ cb.borough.gid }},
    cb: {{ cb.gid }}
    };
  };

  jQuery(document).ready(function($) {
    updateMapFn();
  });
//]]>
</script>
{% endblock %}
