{% extends "base.html" %}
{% block title%}FixCity : Community Board 1 Racks{% endblock %}
{% block extra_header%}
<style>
  table td {
    padding: 10px;
  }
</style>
{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      <td>Establishment</td>
      <td>Address</td>
      <td>Verified</td>
    </tr>
  </thead>
  <tbody>
    {% for rack in racks %}
    <tr>
      <td>{{ rack.title }}</td>
      <td>{{ rack.address }}</td>
      <td>{{ rack.verified|yesno }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
