{% extends "base.html" %}
{% block title %} FixCity : Home {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>
<script type="text/javascript">
//<![CDATA[
var map, layer, select, select_vector, racks, bounds, selectControl;

var options = {
    projection: new OpenLayers.Projection("EPSG:900913"),
    displayProjection: new OpenLayers.Projection("EPSG:4326"),
    units: "m",
    numZoomLevels: 19,
    maxResolution: 156543.03390625,
    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34)
};

OpenLayers.Layer.Vector.prototype.getFeatureByFid = function(fid) {
    for (var index=0, len=this.features.length; index<len; ++index) {
        if (this.features[index].fid == fid) {
	    return this.features[index];
	}
    }
    return null;
};

function loadMap() {
    map = new OpenLayers.Map('home-map', options);

    var osm = new OpenLayers.Layer.WMS("OpenStreetMap", "http://maps.opengeo.org/geowebcache/service/wms", {
        layers: "openstreetmap",
        format: "image/png",
        bgcolor: '#A1BDC4'
    },
    {
        wrapDateLine: true
    });

    var style = new OpenLayers.Style({
        pointRadius: "${radius}",
        externalGraphic: "${url}"
    },
    {
    context: {
      url: rack_icon_url,
      radius: function(feature) {
        return Math.min(feature.attributes.count, 8) + 5;
      }
    }
    });

    function makeClickHandler(n) {
        // curry a function that loads the right page.
        return function (evt) {
            evt.preventDefault();
            load_rack_params.page_number = n;
            racks.events.triggerEvent("moveend");
        };
    };



    function replaceFeatures(layer, newfeatures) {
      // Remove old features

      for (var index=layer.features.length - 1; index>=0; --index) {
          var oldf = layer.features[index];
          var found = false;
          for (var search=0; search<newfeatures.length; ++search) {
              var newf = newfeatures[search];
              if (newf.fid == oldf.fid) {
                // We found it... If the description changed, we'll remove it anyway.
                if (newf.attributes.description != oldf.attributes.description) {
                  break;
                }
                found = true;
		// Even if the feature is the same, pagination might be different,
		// and the order might not be the same as the order in the KML,
		// so we need the new pagination always.
		oldf.attributes.page_previous = newf.attributes.page_previous;
		oldf.attributes.page_next = newf.attributes.page_next;
		oldf.attributes.num_pages = newf.attributes.num_pages;
		oldf.attributes.page_number = newf.attributes.page_number;
                break;
              }
          }
          if (!found) {
            layer.removeFeatures(oldf);
          }
      }
      // Add new features
      for (index=0; index<newfeatures.length; ++index) {
          var newf = newfeatures[index];
          var found = false;
          for (var search=0; search<layer.features.length; ++search) {
              var oldf = layer.features[search];
              if (newf.fid == oldf.fid) {
                // We've handled this already, skip it.
                found = true;
                break;
              }
          }
          if (!found) {
            layer.addFeatures(newf);
          }
      }
    }

    function loadRacks() {
        // We want the bbox to load only stuff that's actually
        // visible on the map. This is less efficient than the
        // default of pre-loading nearby stuff we're likely to pan to;
        // but we show the list of racks in HTML too, so we need the
        // real list of visible stuff.
        // But it's rumored that setting ratio to 1 triggers bugs.
        // var bbox = new OpenLayers.Strategy.BBOX({
        //     ratio: 1.01
        // });
        // bbox.invalidBounds = function () {
        //     // Force loading ALL the time.
        //     return true;
        //  };
        // var oldMerge = bbox.merge;
        // bbox.merge = function(resp) {
        //   var remote = this.layer.projection;
        //   var local = this.layer.map.getProjectionObject();
        //   if(!local.equals(remote)) {
        //       var geom;
        //       for(var i=0, len=resp.features.length; i<len; ++i) {
        //           geom = resp.features[i].geometry;
        //           if(geom) {
        //               geom.transform(remote, local);
        //           }
        //       }
        // }
        //
	//   replaceFeatures(this.layer, resp.features);
	//   this.layer.events.triggerEvent("loadend");
	// };
        racks = new OpenLayers.Layer.Vector("Racks", {
            projection: map.displayProjection,
            strategies: [
              // using a custom bbox strategy didn't generate the right results
              // bbox,
              new OpenLayers.Strategy.Fixed(),
              new OpenLayers.Strategy.Cluster()
            ],
            protocol: new OpenLayers.Protocol.HTTP({
                url: "./racks/search.kml",
                params: {},
                format: new OpenLayers.Format.KML()
            }),
            styleMap: new OpenLayers.StyleMap({
                "default": style,
                "select": {
                    fillColor: "#ff9e73",
                    strokeColor: "#80503b"
                }
            })
        });
        // Big dirty hack!!!
        //var FixcityPopup = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
        //  fixedRelativePosition: true,
        //  relativePosition: "tl",
        //  initialize: function(id, lonlat, contentSize, contentHTML, anchor, closeBox, closeBoxCallback) {
        //    OpenLayers.Popup.Framed.prototype.initialize.apply(this, arguments);
        //  }
        //});
        var featureSelected = function(feature) {
          // can potentially select multiple racks
          $('ul.home-list li').removeClass('selected');
          var homeList = $('ul.home-list');
          for (var i = 0; i < feature.cluster.length; i++) {
            homeList.find('#rack_' + feature.cluster[i].fid).addClass('selected');
          }

          //var popup = new FixcityPopup(null, feature.geometry.getBounds().getCenterLonLat(),
          //                             null, ('<div class="rack-info"><a href="/racks/' + feature.fid + '"><img src="' + ((feature.attributes.thumbnail != null) ? feature.attributes.thumbnail.value : '/site_media/img/default-rack.jpg') + '" width="50" /></a><h3><a href="/racks/' + feature.fid + '">' + feature.attributes.name + '</a></h3><h4>' + feature.attributes.address + '</h4>' + ((feature.attributes.verified == null) ? '' : '<h5><em>verified</em></h5>') + '<h5>' + feature.attributes.votes.value + ' votes</h5>' + '</div>'),
          //                             {size: new OpenLayers.Size(1, 1), offset: new OpenLayers.Pixel(-40, 48)},
          //                             true, function() { selectControl.unselect(feature); });
          var cluster = feature.cluster;
          var firstFeature = cluster[0];
          var featureHtml = ('<div class="rack-info"><a href="/racks/' + firstFeature.fid + '"><img src="' + ((firstFeature.attributes.thumbnail != null) ? firstFeature.attributes.thumbnail.value : '/site_media/img/default-rack.jpg') + '" width="50" /></a><h3><a href="/racks/' + firstFeature.fid + '">' + firstFeature.attributes.name + '</a></h3><h4>' + firstFeature.attributes.address + '</h4>' + '<h5>' + firstFeature.attributes.votes.value + ' votes</h5>' + ((firstFeature.attributes.verified == null) ? '' : '<h5><em>verified</em></h5>') + '</div>');
          var popup = new OpenLayers.Popup.FramedCloud(
              null,
              feature.geometry.getBounds().getCenterLonLat(),
              null,
              featureHtml,
              {size: new OpenLayers.Size(1, 1),
               offset: new OpenLayers.Pixel(0, 0)},
              true,
              function() { selectControl.unselect(feature); });
          feature.popup = popup;
          map.addPopup(popup);
          if (cluster.length > 1) {
            navHtml = '<div><a class="popupnav prev" href="#">prev</a>&nbsp;<a class="popupnav next" href="#">next</a></div>';
            var clusterIdx = 0;
            var content = popup.contentDiv;
            $(content).append($(navHtml));
            var prev = $(content).find('a.popupnav.prev');
            var next = $(content).find('a.popupnav.next');
            var replaceHtml = function(f) {
              $(content).find('a:first').attr('href', '/racks/' + f.fid);
              var thumb = (f.attributes.thumbnail != null) ? f.attributes.thumbnail.value : '/site_media/img/default-rack.jpg';
              $(content).find('img').attr('src', thumb);
              $(content).find('h3 a').attr('href', '/racks/' + f.fid);
              $(content).find('h3 a').text(f.attributes.name);
              $(content).find('h4').text(f.attributes.address);
              $(content).find('h5').remove();
              $(content).find('h4').after('<h5>' + f.attributes.votes.value + ' votes</h5>');
              if (f.attributes.verified != null) {
                $(content).find('h5').after('<h5><em>verified</em></h5>');
              }
            };
            prev.click(function(e) {
              e.preventDefault();
              clusterIdx = (clusterIdx == 0) ? cluster.length-1 : clusterIdx-1;
              replaceHtml(cluster[clusterIdx]);
              // popup.draw();
            });
            next.click(function(e) {
              e.preventDefault();
              clusterIdx = (clusterIdx == cluster.length-1) ? 0 : clusterIdx+1;
              replaceHtml(cluster[clusterIdx]);
              // popup.draw();
            });
          }
        };
        var featureUnselected = function(feature) {
          map.removePopup(feature.popup);
          feature.popup.destroy();
          feature.popup = null;
        };
        selectControl = new OpenLayers.Control.SelectFeature(racks, {
          onSelect: featureSelected, onUnselect: featureUnselected
        });
        map.addControl(selectControl);
        selectControl.activate();
        return racks;
    };

    racks = loadRacks();
    map.addLayers([osm, racks]);
    map.setCenter(new OpenLayers.LonLat(-8231563.043935, 4972717.0966493), 12);
}


  if (jQuery.browser.msie) {
   jQuery(window).load(function() {loadMap();});
  } else {
  jQuery(document).ready(function() {loadMap();});
  }
//]]>
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block lede %}<h1>Small steps to fix your city. Take action for better bike parking in NYC!</h1>{% endblock %}


{% block content %}
<div id="home-main">
  <div id="home-map"><div id="map-legend" class="pngfix"></div></div>
  <ul id="home-callouts" class="selfclear">
    <li id="spot-it"><h3><a href="{% url newrack %}">Spot It.</a></h3><p>Where do you want more bike racks? Examine the area for spots racks can fit in!</p></li>
    <li id="map-it"><h3><a href="{% url newrack %}">Map It.</a></h3><p>Suggest a <a href="{% url newrack %}">New Rack</a> to put your spot on the map! Submit details and photo via email from your phone, twitter, or web.</p></li>
    <li id="check-it"><h3><a href="{% url listracks %}">Check It.</a></h3><p>Verify suggested rack locations! Check if spots meet <a href="/placement-guide/">Location Guidelines</a> to see racks on the ground sooner.</p></li>
  </ul>
  <a id="learnmore-foot" href="/about">Learn more about fixcity.org Bike Racks...</a>
</div><!-- /#home-main -->
<div id="home-sidebar">
  <ul class="sidebar-callouts">
    <li><a class="twitter-callout" href="http://bit.ly/76pXSi">Twitter users can submit racks using this easy syntax</a></li>
    <li><a class="email-callout" href="/tools-and-tips/">Smartphone users can make suggestions by snapping a photo and emailing.</a></li>
    <li><a class="scf-callout" href="/tools-and-tips/">Bike rack requests submitted to See Click Fix will be incorporated into FixCity when tagged with the term "bike rack".</a></li>
  </ul>
  <h2 class="latest-posts-heading">Latest News</h2>
  {% load blog %}
  <ul class="home-list">
    {% get_latest_posts 5 as latest_posts %}
    {% for post in latest_posts %}
    <li>
    <a href="{{ post.get_absolute_url }}">
      <strong>{{ post.title }}</strong>
      {{ post.tease|safe }}
    </a>
    </li>
    {% endfor %}
    <li><a id="more-posts" href="{% url basic.blog.views.post_list %}">More posts</a></li>
  </ul>
  <h2>Recently Suggested Racks</h2>
  <ul class="home-list">
   {% for rack in recent_racks %}
    <li id="rack_{{rack.id}}"><a href="{% url fixcity.bmabr.views.rack_view rack_id=rack.id %}"><strong>{{rack.title}}</strong>
      {{rack.address}}</a></li>
   {% endfor %}
   <li><a id="more-racks" href="{% url listracks %}">See All Suggested Racks</a></li>
  </ul>
</div>


{% endblock %}
