{% extends "base.html" %}
{% block title %} FixCity : Home {% endblock %}

{% block extra_header %}
<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.map.js"></script>

<script type="text/javascript">
//<![CDATA[
function loadMap() {
  $('#home-map').map({
    'center': [-73.945, 40.7334],
    'zoomLevel': 12,
    'clustered': true,
    'url': '/racks/requested.kml',
    'externalGraphic': function (feature) {
      if (feature.cluster.length > 1) {
        var n = feature.cluster.length;
        for (var i = 0; i < n; i++) {
          if (feature.cluster[i].attributes.verified == null) {
            return "http://fixcity.org/site_media/img/rack-icon.png";
          }
        }
        return "http://fixcity.org/site_media/img/rack-verified-icon.png";
      } else if (feature.cluster[0].attributes.verified) {
        return "http://fixcity.org/site_media/img/rack-verified-icon.png";
      } else {
        return "http://fixcity.org/site_media/img/rack-icon.png";
      }
    },
    popupFeatureFormat: function (feature, options) {
      return '<div class="popup-rack-info"><a href="/rack/' + feature.fid + '"><img src="' + ((feature.attributes.thumbnail != null) ? 'http://fixcity.org' + feature.attributes.thumbnail.value : 'http://fixcity.org/site_media/img/default-rack.jpg') + '" width="50" /></a><h3><a href="/rack/' + feature.fid + '">' + feature.attributes.name + '</a></h3><h4>' + feature.attributes.address + '</h4>' + ((feature.attributes.verified == null) ? '' : '<h5><em>verified</em></h5>') + ((feature.attributes.votes == null) ? '' : '<h5>' + feature.attributes.votes.value + ' votes</h5>')+ '</div>';
    },
    popupClusterClass: 'popup-rack-info'
  });
}
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap();});
} else {
jQuery(document).ready(function() {loadMap();});
}
//]]>
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block lede %}<h1>Small steps to fix your city. Take action for better bike parking!</h1>{% endblock %}


{% block content %}
<div id="home-main">
  <div id="map-wrap"><div id="home-map"><div id="map-legend" class="pngfix"></div></div><div id="feature"></div></div>
  <ul id="home-callouts" class="selfclear">
    <li id="spot-it"><h3><a href="{% url newrack %}">Spot It.</a></h3><p>Where do you want more bike racks? Examine the area for spots racks can fit in!</p></li>
    <li id="map-it"><h3><a href="{% url newrack %}">Map It.</a></h3><p>Suggest a <a href="{% url newrack %}">New Rack</a> to put your spot on the map! Submit details and photo via email from your phone, twitter, or web.</p></li>
    <li id="check-it"><h3><a href="{% url listracks %}">Check It.</a></h3><p>Verify suggested rack locations! Check if spots meet <a href="/placement-guide/">Location Guidelines</a> to see racks on the ground sooner.</p></li>
  </ul>
  <a id="learnmore-foot" href="/about">Learn more about fixcity.org Bike Racks...</a>
</div><!-- /#home-main -->
<div id="home-sidebar">
  <ul class="sidebar-callouts">
    <li><a class="twitter-callout" href="http://bit.ly/76pXSi">Twitter users can submit racks using this easy syntax</a></li>
    <li><a class="email-callout" href="/tools-and-tips/">Smartphone users can make suggestions by snapping a photo and emailing.</a></li>
    <li><a class="scf-callout" href="/tools-and-tips/">Bike rack requests submitted to See Click Fix will be incorporated into FixCity when tagged with the term "bike rack".</a></li>
  </ul>
  <h2 class="latest-posts-heading">Latest News</h2>
  {% load blog %}
  <ul class="home-list">
    {% get_latest_posts 5 as latest_posts %}
    {% for post in latest_posts %}
    <li>
    <a href="{{ post.get_absolute_url }}">
      <strong>{{ post.title }}</strong>
      {{ post.tease|safe }}
    </a>
    </li>
    {% endfor %}
    <li><a id="more-posts" href="{% url basic.blog.views.post_list %}">More posts</a></li>
  </ul>
  <h2>Recently Suggested Racks</h2>
  <ul class="home-list">
   {% for rack in recent_racks %}
    <li id="rack_{{rack.id}}"><a href="{% url fixcity.bmabr.views.rack_view rack_id=rack.id %}"><strong>{{rack.title}}</strong>
      {{rack.address}}</a></li>
   {% endfor %}
   <li><a id="more-racks" href="{% url listracks %}">See All Suggested Racks</a></li>
  </ul>
</div>


{% endblock %}
