{% extends "base.html" %}
{% load rackverification_tags %}
{% block title %} FixCity: Add a Bike Rack {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack-new.png";
  {% if request.POST.location and request.POST.address %}
    var WKT = '{{request.POST.location}}';
    var initial_zoom = 16;
  {% else %}
    var WKT = "POINT(-73.954344 40.714063)";
    var initial_zoom = 13;
  {% endif %}

  function post_loadmap (map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), initial_zoom);
  };
</script>
<script type="text/javascript" src="/site_media/js/rackmap.js?refresh={{ refresh_token }}"></script>
<script type="text/javascript">
//<![CDATA[
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap();});
} else {
jQuery(document).ready(function() {loadMap();});
}
//]]>
</script>
{% endblock %}

{% block addrack %}<a id="add-rack" class="current" href="{% url newrack %}">Suggest a Rack</a>{% endblock %}

{% block content %}
<h2>Suggest a new Rack</h2>
<form id="addrack-form" action="." method="POST" enctype="multipart/form-data">
  <h2 class="toggler">Step 1: Locate <small class="required">(required)</small></h2>
  <div class="section">
    <label for="address">Street Address</label>
    <input id="address" name="address" class="required" type="text" title="Enter an address or click a point on the map" value="{{request.POST.address}}" />
    <div class="helptext">Enter an address or click a point on the map. <a href="/placement-guide/">Placement Guidelines</a></div>
    <input type="hidden" id="location" name="location" class="required" value="{{request.POST.location}}" />
    {{ form.address.errors }} {{ form.location.errors }}
    <label for="title">Establishment</label>
    <input id="title" name="title" class="required" type="text" value="{{request.POST.title}}" />
    <div class="helptext">Which places will this rack provide Bike Parking for? i.e. Key Foods, PS 121, restaurants…</div>
    {{ form.title.errors }}
    <label for="email">Your Email</label>
    <input id="email" type="text" class="required"name="email" value="{{request.POST.email|default:user_email}}" />
    <div class="helptext">This will not be shared, but we may wish to contact you.</div>
    {{ form.email.errors }}
    <input type="hidden" name="user" value="{{user.username}}" />
    {{ form.user.errors }}
  </div><!-- /.section -->
  <h2 class="toggler">Step 2: Description/Photo <small class="optional">(optional)</small></h2>
  <div class="section">
    <label for="description">Description</label>
      <textarea id="description" name="description"
                  title="Why are bike racks needed here? Other details?">{{ request.POST.description }}</textarea>
      {{ form.description.errors }}
    <div id="photo-wrap">
      <label for="fakebrowseinput">Photo</label>
      <input id="browse" name="photo" type="file" value="{{request.FILES.photo.name}}" size="20" />
      <div id="fakebrowse" class="selfclear"><input name="fakebrowseinput" id="fakebrowseinput" type="text" title="JPG, GIF or PNG files - 5MB maximum" /><span class="fakebutton">browse</span></div>
    </div><!-- /#photo-wrap -->
    {{ form.photo.errors }}

    <div id="statement-wrap">
      <label for="statement">Statement of Support</label>
      <input id="statement" name="statement" type="file" value="" size="20" />
      <div id="fakestatement" class="selfclear"><input name="fakestatementinput" id="fakestatementinput" type="text" title="" /><span class="fakebutton">browse</span></div>
    </div><!-- /#statement-wrap -->

  </div><!-- /.section -->
  <h2 class="toggler">Step 3: Verification / Details <small class="optional">(optional)</small></h2>
  <div class="section">
    {% rack_requirements as requirements %}
    <p><strong>Please verify that the rack location meets these requirements:</strong></p>
    <fieldset class="verification">
      <div>
        <input id="rackform-surface" name="verify_surface" type="checkbox" />
        <h3 class="permissive-clearance"><label for="rackform-surface">Surface</label></h3>
        <ul>
          {% for requirement in requirements.surface %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <fieldset class="verification">
      <div>
        <input id="rackform-objects" name="verify_objects" type="checkbox" />
        <h3 class="moderate-clearance"><label for="rackform-objects">Objects</label></h3>
        <ul>
          {% for requirement in requirements.objects %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <fieldset class="verification">
      <div>
        <input id="rackform-access" name="verify_access" type="checkbox" />
        <h3 class="restrictive-clearance"><label for="rackform-access">Access</label></h3>
        <ul>
          {% for requirement in requirements.access %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <p>For more information, view detailed <a href="/placement-guide/">Placement Guidelines</a></p>
  </div><!-- /.section -->

    <input type="hidden" name="date" value="{% now "Y-m-d H:i:s" %}"/>

    <!-- These flags will trigger server-side processing of location
    if set to zero. We use this to hack around
    the impossibility of knowing if asynch functions have finished
    when the form submits.  Also provides a bit of graceful
    degrading... not like we have a lot of that in a map-heavy
    site. -->
    <input type="hidden" id="geocoded" name="geocoded" value="0" />

    <input type="submit" value="Add this rack!" />

<!--  errors for debugging
 {{ form.errors }}
-->
</form>
<div class="suggest">
	<div id="request-map" class="cityracks">
	  <div id="map-legend" class="pngfix"></div>
	</div>
</div><!-- /#suggest -->
{% endblock %}

{% block lede %}
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  jQuery(document).ready(function($) {
    $('input#browse').change(function( objEvent ){$('#fakebrowseinput').val($(this).val());});
    $('input#statement').change(function( objEvent ){$('#fakestatementinput').val($(this).val());});
    expandOnce('#statement-wrap', 'Add Statement of Support');
    $('textarea#description').maxLength(300);
  });
//]]>
</script>
{% endblock %}

