{% extends "base.html" %}
{% block title %} FixCity: Placement Guide {% endblock %}

{% block extra_header %} 
{% endblock %}

{% block lede %}
<h1>So you want bike racks</h1>
{% endblock %}


{% block menu %} 
{% endblock %}

{% block content %}
<div class="doublewide selfclear">
  <div class="col">
    <h2>Decoding Rack Placement</h2>
    <p>Do you want a bike rack by your favorite store, park, or bus stop? Bike rack placement is more complicated than you might think, but it’s easy to decode when you look around and ask these three simple questions:</p>

    <ol>
      <li>What features do people and vehicles need to ACCESS?</li>
      <li>What other OBJECTS could bikes get in the way of?</li>
      <li>Is the SURFACE suitable for a rack?</li>
    </ol>

    <p>See diagram and list for specific clearance distances.</p>
  </div>
  <div class="col">
    <h2 class="restrictive-clearance"><strong><em>A</em> ACCESS</strong> Most Restrictive: Clearance Varies</h2>
    <dl class="restrictive-clearance">
      <dt>15'</dt> <dd>Crosswalks &#038; special curb areas: bus stops, taxi stands, hotel loading zones Franchised structures: sidewalk cafes, bus &#038; bike shelters, toilets, newstands</dd>
      <dt>8'</dt>	<dd>Fire hydrants</dd>
      <dt>5'</dt>	<dd>Building entrances &#038; driveways</dd>
      <dt>3'</dt>	<dd>Hatches &#038; subway entrances (railings, stairs, elevators, etc.)</dd>
    </dl>


    <h2 class="moderate-clearance"><strong><em>B</em> OBJECTS</strong> Moderately Restrictive: 5 foot clearance</h2>
    <p>Benches, planters, telephones, mailboxes
    <br />Signs, parking meters, lamp posts, standpipes, etc.)</p>

    <h2 class="permissive-clearance"><strong><em>C</em> SURFACE</strong> Least Restrictive: 3 foot clearance</h2>
    Utility covers, tree pit edges, grates with hinges
    <ul class="permissive-clearance">
      <li><span>Requirement: Public sidewalk at least 11 feet wide!</span></li>
      <li><span>Requirement: Un-cracked, concrete surface; no special paving materials!</span></li>
      <li><span>Most grates are now acceptable for rack placement</span></li>
    </ul>
  </div>
</div>
<hr />
<img src="/site_media/img/placement-guide.png" alt="Placement Guide Illustration" />
{% endblock %}
