{% extends "base.html" %} 
{% load thumbnail %}

{% block title %} FixCity: Profile {% endblock %} 

{% block extra_header %} 
{% endblock %}

{% block menu %} 
{% endblock %}

{% block content %}
   <h1>Hi, {{user.first_name}} {{user.last_name}}</h1>
   <h3>Racks you've suggested</h3>
   <ol>
     {% for rack in racks %}
	   <li><a href="{{ rack.get_absolute_url }}"> {{rack.address}}</a></li>
     {% endfor %} 
   </ol>
<div class="password-change">
<a title="change password" href="{% url auth_password_change %}">Change your password</a>
</div>
{% endblock %}
