<div id="quick-check">
  <h4>Quick Check: Does the suggestion meet these guidelines?</h4>
  <h5><a href="/placement-guide/">Placement Guidelines</a></h5>
  <ul>
    <li class="access"><strong>Access:</strong> Serves many people and doesn't block entry to buildings or other modes of transit.</li>
    <li class="objects"><strong>Objects:</strong> Has a 5 foot clearance from most other street features.</li>
    <li class="surface"><strong>Surface:</strong> Wide (11 feet) sidewalks without cracks or special paving materials.</li>
  </ul>
  <h5><a class="photo-guidelines" href="#">Photo Guidelines</a></h5>
  <p>Appropriate photo required for verification.</p>
</div>
