{% extends "base.html" %} 
{% load thumbnail %}
{% load voting_tags %}
{% load comments %}
{% load recaptcha_tags %}

{% block title %} FixCity: Rack Detail {% endblock %} 

{% block extra_header %} 
<script src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack.png";
  var WKT = "{{ rack.location.wkt }}";
  function post_loadmap(map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), 16);
  };
</script>
<script type="text/javascript" src="/site_media/js/rackmap.js"></script>

<script type="text/javascript">
//<![CDATA[
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap(false);});
} else {
jQuery(document).ready(function() {loadMap(false);});
}
//]]>
</script>
{% endblock %}

{% block menu %} 
{% endblock %} 

{% block lede %}
<h1>View Rack</h1> <a href="/rack/new/">Suggest a new Rack</a>
{% endblock %}

{% block content %}
<div id="rackinfo">
  <dl>
    <dt>Street Address</dt>
    <dd>{{rack.address}}</dd>
    <dt>Establishment</dt>
    <dd>{{rack.title}}</dd>
    <dt>Description</dt>
    <dd>{{rack.description}}</dd>
    <dt>Photo</dt>
    <dd>
    {% if rack.photo %}
    <img src="{{rack.photo.extra_thumbnails.large}}" />
    {% else %}
      <div class="error error-photo">
        <h2> No photos about this request </h2>
      </div>
   {% endif %}
    </dd>
  </dl>
  <ul id="support-statements">
  {% for object in statement_query %}
    <li><a href="{{object.file.url}}">Statement of support</a></li>
  {% endfor %}
  </ul>
  
  {% if user.is_authenticated %}
    <a class="fakebigbutton" href="/rack/{{rack.id}}/edit/">Edit this Rack</a>
    {% if not user_suggested_this_rack %}
      <div class="vote"><form method="POST" action="/rack/{{rack.id}}/vote/">
        <input type="radio" name="vote" value="1"> +1 </input>
        <input type="submit" value=" Vote on this rack " />
      </form></div>
    {% endif %}
  {% else %}
    <a class="fakebigbutton" href="/rack/{{rack.id}}/edit/">Log in to Update Rack</a>
  {% endif %}

  <!-- Votes on this rack so far, needs styling -->
  {% score_for_object rack as score %}
  {{ score.score }} point{{ score.score|pluralize }}
  after {{ score.num_votes }} vote{{ score.num_votes|pluralize }}
  
  
  </div><!-- /#rackinfo -->
    
<div class="suggest">
	<div id="request-map" class="iconsonly">
	  <div id="map-legend" class="pngfix"></div>
	</div>
        {% include "quickcheck.html" %}
</div><!-- /#suggest -->


<div class="comments">
  {% get_comment_count for rack as comment_count %}
  {% get_comment_list for rack as comment_list %}
  <ul>{{comment_count}} comments

    {% for comment in comment_list %}
    <li>{{comment.comment}}
       <br /> --
       {% if comment.user_url %}
         <a href="{{comment.user_url}}">{{comment.user_name}}</a>
       {% else %}
         {{comment.user_name}}
       {% endif %}
    </li>
    {% endfor %}

  </ul>
  <h2>Leave a comment</h2>

  
    <!-- {% render_comment_form for rack %} -->

    <form action="{{request.path}}" method="POST">
     <!-- slightly customized comment form: leave out auth'd user info as
          that will be populated on the back-end after submit -->
      {% if comment_form.errors %}  
       <h1>Please correct the error{{ comment_form.errors|pluralize }} below</h1>  
      {% endif %}  

       {% if not request.user.is_authenticated %}

         <p>
          <label for="id_name">Name</label>
          {{ comment_form.name }}
          {{ comment_form.errors.name }}
         </p>
         <p>
          <label for="id_email">Email</label>
          {{ comment_form.email }}
          {{ comment_form.errors.email }}
         </p>
         <p>
          <label for="id_url">URL</label>
          {{ comment_form.url }}
          {{ comment_form.errors.url }}
         </p>
       {% endif %}
       <p>
        <label for="id_comment">Comment</label>
        {{ comment_form.comment }}
        {{ comment_form.errors.comment }}
       </p>
       <p style="display:none;">
        <label for="id_honeypot">
          If you enter anything in this field your comment will be
          treated as spam</label>
          {{ comment_form.honeypot }}
       </p>
       {{ comment_form.content_type }}
       {{ comment_form.object_pk }}
       {{ comment_form.timestamp }}
       {{ comment_form.security_hash }}

       {% if not request.user.is_authenticated %}
         {% recaptcha_html %}
         {% if comment_form.errors.recaptcha %}
           <div class="error">{{ comment_form.errors.recaptcha }}</div>
         {% endif %}  
       {% endif %}
       <input type="submit" value="Add comment" id="id_submit" />
     </form>

</div>

{% endblock %} 
