{% extends "base.html" %} 
{% load thumbnail %}
{% load voting_tags %}
{% load comments %}
{% load recaptcha_tags %}
{% load rackheart_tags %}

{% block title %} FixCity: Rack Detail {% endblock %} 

{% block extra_header %} 
<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack.png";
  var WKT = "{{ rack.location.wkt }}";
  function post_loadmap(map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), 16);
  };
</script>
<script type="text/javascript" src="/site_media/js/rackmap.js?refresh={{ refresh_token }}"></script>

<script type="text/javascript">
//<![CDATA[
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap(false);});
} else {
jQuery(document).ready(function() {loadMap(false);});
}
//]]>
</script>
{% endblock %}

{% block menu %} 
{% endblock %} 

{% block lede %}{% endblock %}

{% block content %}
{% get_comment_count for rack as comment_count %}
{% get_comment_list for rack as comment_list %}
{% score_for_object rack as score %}
<div id="sublede" class="selfclear">
  <div class="rack-meta">
    {% if rack.verified %}
    <span class="verified">This rack is complete</span>
    {% endif %}
    <a class="comments{% if user.is_authenticated %} comments-active{% endif %}" href="#add-comment" title="Add a comment!"><strong>{{ comment_count }}</strong> comment{{ comment_count|pluralize }}</a>
  {% vote_by_user request.user on rack as user_likes_this_rack %}
  {% can_heart user rack as canheart %}
  {% if canheart %}
    <a class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" href="#" title="Like this rack!"><strong>{{ score.score }}</strong> like{{ score.score|pluralize }}</a>
  {% else %}
    <span class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" ><strong>{{ score.score }}</strong> like{{ score.score|pluralize }}</span>
  {% endif %}

  </div>
  <h2 class="rack-address">{{rack.address}}</h2><a class="edit" href="{% url editrack rack.id %}">{% if user.is_authenticated %}Edit this Rack{% else %}Log in to edit{% endif %}</a>
</div>
<div id="rackinfo">
   {% if rack.photo %}
     <img src="{{rack.photo.extra_thumbnails.large}}" />
   {% else %}
     <div class="error error-photo">
       No photos about this request
     </div>
  {% endif %}
    <h3 class="fake-label">Establishment</h3>
    <div class="rack-title">{{rack.title}}</div>
    <h3 class="fake-label">Description</h3>
    <div class="rack-description">{{rack.description}}</div>

  {% if statement_query %}
    <ul id="support-statements">
    {% for object in statement_query %}
      <li><a href="{{object.file.url}}">Statement of support</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if comment_list %}
    <h5>{{comment_count}} comments on this rack</h5>
    <ul id="comments-list">
      {% for comment in comment_list %}
      <li class="comment">
        <h3 class="comment-author">{% if comment.user_url %}<a href="{{comment.user_url}}">{{comment.user_name}}</a>{% else %}{{comment.user_name}}{% endif %}</h3>
        <div class="comment-date">
          {{comment.submit_date|date:"D d M Y"}}
          at {{comment.submit_date|date:"g:i A"|lower}}
        </div>
        <div class="comment-copy">{{comment.comment}}</div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
    <h5 id="add-comment">Leave a comment</h5>
    <!-- {% render_comment_form for rack %} -->

    <form action="{{request.path}}" method="POST">
     <!-- slightly customized comment form: leave out auth'd user info as
          that will be populated on the back-end after submit -->
      {% if comment_form.errors %}  
       <h1>Please correct the error{{ comment_form.errors|pluralize }} below</h1>  
      {% endif %}  

       {% if not request.user.is_authenticated %}

          <label for="id_name">Name</label>
          {{ comment_form.name }}
          {{ comment_form.errors.name }}

          <label for="id_email">Email</label>
          {{ comment_form.email }}
          {{ comment_form.errors.email }}

          <label for="id_url">URL</label>
          {{ comment_form.url }}
          {{ comment_form.errors.url }}

        <label for="id_comment">Comment</label>
        {% endif %}
        {{ comment_form.comment }}
        {{ comment_form.errors.comment }}

       <div style="display:none;">
        <label for="id_honeypot">
          If you enter anything in this field your comment will be
          treated as spam</label>
          {{ comment_form.honeypot }}
       </div>
       {{ comment_form.content_type }}
       {{ comment_form.object_pk }}
       {{ comment_form.timestamp }}
       {{ comment_form.security_hash }}

       {% if not request.user.is_authenticated %}
         {% recaptcha_html %}
         {% if comment_form.errors.recaptcha %}
           <div class="error">{{ comment_form.errors.recaptcha }}</div>
         {% endif %}  
       {% endif %}
       <input type="submit" value="Add comment" id="id_submit" />
     </form>
  </div><!-- /#rackinfo -->
    
<div class="suggest">
	<div id="request-map" class="cityracks">
	  <div id="map-legend" class="pngfix"></div>
	</div>
</div><!-- /#suggest -->

{% endblock %} 
{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  jQuery(document).ready(function($) {
    $('.rack-meta a.rack-likes').voteify({'rackID': {{rack.id}}});
  });
//]]>
</script>
{% endblock %}
