{% load voting_tags %}
{% load comments %}
{% load rackheart_tags %}
{% if not page_obj.object_list %}
<div id="flash-message">
  <div class="flash error pngfix">
    <h2>Dang</h2>
    <p>No racks were found which match those criteria. If you'd like to help change this, get things rolling by <a href="{% url newrack %}">suggesting a rack</a>!</p>
  </div>
</div><!-- /#flash_message -->
{% else %}
<ul id="racklist">
  {% for rack in page_obj.object_list %}
  <li class="selfclear" id="rack-{{rack.id}}">
    <a class="rack-thumbnail" href="{{ rack.get_absolute_url }}">
      <img src="{{ rack.get_thumbnail_url }}" />
    </a>
    <div class="rack-info">
      <h4>{{ rack.address }}</h4>
      <h3><a href="{{ rack.get_absolute_url }}">{{rack.title}}</a></h3>
      <p class="rack-meta">suggested via {{ rack.get_source }} {{ rack.date|date }}</p>
      <div class="rack-icons selfclear">
        {% get_comment_count for rack as comment_count %}
        {% get_comment_list for rack as comment_list %}
        {% score_for_object rack as score %}
        {% if user.is_authenticated %}<a class="edit" href="{% url editrack rack.id %}">Edit</a>{% endif %}
        <a class="rack-comments {% if user.is_authenticated %} rack-comments-active{% endif %}" href="{{ rack.get_absolute_url }}#add-comment" title="Add a comment!">{{ comment_count }}</a>
        {% vote_by_user request.user on rack as user_likes_this_rack %}
        {% can_heart request.user rack as canheart %}
        {% if canheart %}
          <a class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" href="#" title="Like this rack!"><strong>{{ score.score }}</strong></a>
        {% else %}
          <span class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" >{{ score.score }}</span>
        {% endif %}
        {% if rack.verified %}<span class="rack-verified">verified</span>{% endif %}
      </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
      $("#rack-" + {{rack.id}} + ' a.rack-likes').voteify({'rackID': {{rack.id}}, 'activeClass': 'rack-likes-active'});
    });
    //]]>
    </script>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% load pagination_tags %}
{% paginate 2 %}
