{% extends "base.html" %}
{% load voting_tags %}
{% load comments %}
{% load rackheart_tags %}
{% load rackverification_tags %}
{% block title %} FixCity: Edit Bike Rack {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack.png";
  var WKT = "{{ request.POST.location|default:rack.location.wkt }}";
  function post_loadmap(map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), 16);
  };
</script>
<script type="text/javascript" src="/site_media/js/rackmap.js?refresh={{ refresh_token }}"></script>

<script type="text/javascript">
//<![CDATA[
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap();});
} else {
jQuery(document).ready(function() {loadMap();});
}
//]]>
</script>
{% endblock %}
{% block menu %}
{% endblock %}


{% block content %}
<div id="sublede" class="selfclear">
  <div class="rack-meta">
    <a class="comments{% if user.is_authenticated %} comments-active{% endif %}" href="/racks/{{rack.id}}/#add-comment" title="Add a comment!"><strong>{{ comment_count }}</strong> comment{{ comment_count|pluralize }}</a>
  {% vote_by_user request.user on rack as user_likes_this_rack %}
  {% can_heart user rack as canheart %}
  {% if canheart %}
    <a class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" href="#" title="Like this rack!"><strong>{{ score.score }}</strong> like{{ score.score|pluralize }}</a>
  {% else %}
    <span class="rack-likes{% if user_likes_this_rack %} rack-likes-active{% endif %}" ><strong>{{ score.score }}</strong> like{{ score.score|pluralize }}</span>
  {% endif %}
  </div>
</div>
<form id="addrack-form" action="." method="POST" enctype="multipart/form-data">
  <h2 class="toggler">Step 1: Locate <small class="required">(required)</small></h2>
  <div class="section">
    <label for="address">Street Address</label>
    <input id="address" name="address" class="required" type="text" title="Enter an address or click a point on the map" value="{{request.POST.address|default:rack.address}}" />
    <div class="helptext">Enter an address or click a point on the map. <a href="/placement-guide/">Placement Guidelines</a></div>
    <input type="hidden" id="location" name="location" class="required" value="{{wkt}}" />
    {{ form.address.errors }} {{ form.location.errors }}
    <label for="title">Establishment</label>
    <input id="title" name="title" class="required" type="text" value="{{request.POST.title|default:rack.title}}" />
    <div class="helptext">Which places will this rack provide Bike Parking for? i.e. Key Foods, PS 121, restaurants…</div>
    {{ form.title.errors }}
    <div id="email-wrap">
     <label>Created By</label>
     <div>{{creator}}</div>
    </div>
  </div><!-- /.section -->
  <h2 class="toggler">Step 2: Description/Photo <small class="optional">(optional)</small></h2>
  <div class="section">
    <label for="description">Description</label>
      <textarea id="description" name="description"
                  title="Why are bike racks needed here? Other details?">{{ request.POST.description|default:rack.description }}</textarea>
      {{ form.description.errors }}
      <label for="browse">Photo</label>
      {% if rack.photo %}
        <img src="{{rack.photo.extra_thumbnails.large}}" />
        <br />
      {% else %}
        <div>No photo uploaded.</div>
      {% endif %}
      {{ form.photo.errors }}
      <div id="photo-wrap">
        <label for="fakebrowseinput">{% if rack.photo %}Replace{% else %}Add{% endif %} Photo</label>
        <input id="browse" name="photo" type="file" value="{{request.FILES.photo.name}}" size="20" />
        <div id="fakebrowse" class="selfclear"><input name="fakebrowseinput" id="fakebrowseinput" type="text" title="JPG, GIF or PNG files - 5MB maximum" /><span class="fakebutton">browse</span></div>
      </div><!-- /#photo-wrap -->
    {{ form.photo.errors }}

    <div id="statement-wrap">
      <label for="statement">Statement of Support</label>
      <input id="statement" name="statement" type="file" value="" size="20" />
      <div id="fakestatement" class="selfclear"><input name="fakestatementinput" id="fakestatementinput" type="text" title="" /><span class="fakebutton">browse</span></div>
    </div><!-- /#statement-wrap -->

  </div><!-- /.section -->
  <h2 class="toggler">Step 3: Verification / Details <small class="optional">(optional)</small></h2>
  <div class="section">
    {% rack_requirements as requirements %}
    <p><strong>Please verify that the rack location meets these requirements:</strong></p>
    <fieldset class="verification">
      <div>
        <input id="rackform-surface" name="verify_surface" type="checkbox"{% if request.POST.verify_surface or rack.verify_surface %} checked="true"{%endif%} />
        <h3 class="permissive-clearance"><label for="rackform-surface">Surface</label></h3>
        <ul>
          {% for requirement in requirements.surface %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
      <fieldset class="verification">
      <div>
        <input id="rackform-objects" name="verify_objects" type="checkbox"{% if request.POST.verify_objects or rack.verify_objects %} checked="true"{%endif%} />
        <h3 class="moderate-clearance"><label for="rackform-objects">Objects</label></h3>
        <ul>
          {% for requirement in requirements.objects %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <fieldset class="verification">
      <div>
        <input id="rackform-access" name="verify_access" type="checkbox"{% if request.POST.verify_access or rack.verify_access %} checked="true"{%endif%} />
        <h3 class="restrictive-clearance"><label for="rackform-access">Access</label></h3>
        <ul>
          {% for requirement in requirements.access %}
          <li>{{ requirement|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <p>For more information, view detailed <a href="/placement-guide/">Placement Guidelines</a></p>
  </div><!-- /.section -->

    <!-- XXX Do we want to update date on edit? -->
    <input type="hidden" name="date" value="{% now "Y-m-d H:i:s" %}"/>

    <!-- These flags will trigger server-side processing of location
    if set to zero. We use this to hack around
    the impossibility of knowing if asynch functions have finished
    when the form submits.  Also provides a bit of graceful
    degrading... not like we have a lot of that in a map-heavy
    site. -->
    <input type="hidden" id="geocoded" name="geocoded" value="0" />
    <div id="verified-wrap">
    {{ form.verified.errors }}
    </div>

    {% if not rack.locked %}
      <input type="submit" value="Save" />
    {% endif %}
    
<!--  errors for debugging
 {{ form.errors }}
-->
</form>
<div class="suggest">
	<div id="request-map">
	</div>
</div><!-- /#suggest -->
{% endblock %}

{% block lede %}
<h1>Edit Rack</h1>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  jQuery(document).ready(function($) {
    $('input#browse').change(function( objEvent ){$('#fakebrowseinput').val($(this).val());});
    $('input#statement').change(function( objEvent ){$('#fakestatementinput').val($(this).val());});
    expandOnce('#statement-wrap', 'Add Statement of Support');
    $('.rack-meta a.rack-likes').voteify({'rackID': {{rack.id}}});
    $('textarea#description').maxLength(300);
});
//]]>
</script>
{% endblock %}

