{% extends "base.html" %}
{% load voting_tags %}

{% block title %} FixCity: Verify Bike Racks {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js">
</script>

{% endblock %}

{% block lede %}
<h1>Verify your suggestion and others to see racks on the ground sooner!</h1>
{% endblock %}

{% block verifyrack %}<a id="verify-rack" class="current" href="{% url fixcity.bmabr.views.racks_index %}">Verify a Rack</a>{% endblock %}

{% block content %}

<div class="verify-map-filters selfclear">
  <form id="filter-form" method="post" action=".">
    <fieldset>
      <legend>Find rack suggestions</legend>
      <div>
        <label for="filter-boro">Borough</label>
        <select id="filter-boro" name="boro">
          <option value="4">Brooklyn</option>
          <option value="2">Bronx</option>
          <option value="1">Manhattan</option>
          <option value="5">Queens</option>
          <option value="3">Staten Island</option>
        </select>
      </div>
      <div>
        <label for="filter-cb">Community Board</label>
        <select id="filter-cb" name="cb">
          <option value="0">All</option>
          {% for board in boards%}
          <option value="{{ board.gid }}">{{ board.board }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="filter-radio-all">All</label>
        <input id="filter-radio-all" type="radio" name="state" value="all" checked="true" />
        <label for="filter-radio-verified">Verified</label>
        <input id="filter-radio-verified" type="radio" name="state" value="verified" />
        <label for="filter-radio-unverified">Unverified</label>
        <input id="filter-radio-unverified" type="radio" name="state" value="unverified" />
      </div>
      <div>
        <input id="filter-submit" type="submit" value="Update" />
      </div>
    </fieldset>
  </form>
</div>

<div id="racks">

{% comment %}
all code is in racklist.html to reuse for ajax view
{% endcomment %}
{% include "racklist.html" %}

</div><!-- /#racks -->
<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
  {% include "quickcheck.html" %}
</div>
{% endblock %}
