{% extends "base.html" %}
{% load voting_tags %}

{% block title %} FixCity: Verify Bike Racks {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js?refresh={{ refresh_token }}"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js?refresh={{ refresh_token }}">
</script>

{% endblock %}

{% block lede %}
{% endblock %}

{% block verifyrack %}<a id="verify-rack" class="current" href="{% url fixcity.bmabr.views.racks_index %}">Verify a Rack</a>{% endblock %}

{% block content %}
<div class="verify-map-filters selfclear">
  <form id="filter-form" method="post" action=".">
    <fieldset>
      <h2>Find rack suggestions</h2>
        <select id="filter-boro" name="boro">
          <optgroup label="NYC BOROUGH">
            <option value="4">Brooklyn</option>
            <option value="2">Bronx</option>
            <option value="1">Manhattan</option>
            <option value="5">Queens</option>
            <option value="3">Staten Island</option>
          </optgroup>
        </select>
        <select id="filter-cb" name="cb">
          <optgroup label="COMMUNITY BOARD">
            <option value="0">All</option>
            {% for board in boards%}
            <option value="{{ board.gid }}">{{ board.board }}</option>
            {% endfor %}
          </optgroup>
        </select>
        <input id="filter-radio-verified" type="radio" name="state" value="verified" /><label for="filter-radio-verified">Verified</label>
        <input id="filter-radio-unverified" type="radio" name="state" value="unverified" /><label for="filter-radio-unverified">Unverified</label>
        <input id="filter-radio-all" type="radio" name="state" value="all" checked="true" /><label for="filter-radio-all">All</label>
        <input id="filter-submit" type="submit" value="Update" />
    </fieldset>
  </form>
</div>

<div id="racks">

{% comment %}
all code is in racklist.html to reuse for ajax view
{% endcomment %}
{% include "racklist.html" %}

</div><!-- /#racks -->
<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
  {% include "quickcheck.html" %}
</div>
{% endblock %}
