{% extends "base.html" %}
{% block title %} FixCity: Verify Bike Racks {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js">
</script>

{% endblock %}

{% block lede %}
<h1>Verify your suggestion and others to see racks on the ground sooner!</h1>
{% endblock %}

{% block verifyrack %}<a id="verify-rack" class="current" href="/verify/">Verify a Rack</a>{% endblock %}

{% block content %}

<div id="racks">
<!--  <div id="quick-sort">
  	<form action="#">
  	  <div class="selfclear"><label for="communityboard">Community Board</label><select id="communityboard" name="communityboard"><option value="cb1">Community Board 1</option></select></div>
  	  <div class="selfclear"><label for="sortorder">Filter by</label><select id="sortorder" name="sortorder"><option value="verified">Verified</option></select></div>
    </form>
  </div>--><!-- /#quick-sort -->
    <ul id="racklist">

           <li class="selfclear" id="" style="display: none;">
             <a class="rack-thumbnail" href="#"><img /></a>
             <div class="rack-info">
               <h3><a href="#"> </a></h3>
	       <span class="rack-verified"><em>verified</em></span>
               <h4> </h4>
               <p class="rack-meta"> </p>
               <p class="rack-snippet"> </p>
             </div>
            </li>

    </ul><!-- #/racklist -->

    <p id="pagination" style="display: none;">
        <a class="prevlink" rel="prev" href="#">Previous</a>

        <span class="sectionlink"><a rel="section" href="#">X</a>&nbsp;</span>

        <a class="nextlink" rel="next" href="#">Next</a>

    </p>

</div><!-- /#racks -->
<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
  {% include "quickcheck.html" %}
</div>
{% endblock %}
