{% if is_paginated %}
{% load i18n %}
<p id="pagination">
    {% if page_obj.has_previous %}
      <a class="prevlink" rel="prev" href="#{{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for page in pages %}
      <span class="sectionlink">
        {% if page %}
          <a rel="section"
            {% ifnotequal page page_obj.number %}
                href="#{{ page }}"
            {% endifnotequal %}
            >{{ page }}</a>
        {% else %}
            <span class="page_ellipsis">...</span>
        {% endif %}
      </span>
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="nextlink" rel="next" href="#{{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</p>
{% endif %}
